
// Colors

$body-color: hsl(210, 80%, 54%);
$bg-color: hsl(210, 80%, 54%);
$title-color: hsl(210, 80%, 54%);
$text-color: hsl(210, 80%, 54%);
$btn-color: hsl(210, 80%, 54%);
$link-color: hsl(210, 80%, 54%);
$linkhover-color: hsl(210, 80%, 54%);


// Typography and font sizes 

$body-font: 'Open Sans', sans-serif;
$title-font: 'Open Sans', sans-serif;

$fs-12: 1.2rem; // 12px 
$fs-14: 1.4rem; // 14px 
$fs-16: 1.6rem; // 16px 
$fs-18: 1.8rem; // 18px 
$fs-20: 2rem; // 20px 
$fs-24: 2.4rem; // 24px 
$fs-30: 3rem; // 30px 
$fs-32: 3.2rem; // 32px 
$fs-36: 3.6rem; // 36px 
$fs-42: 4.2rem; // 42px 
$fs-50: 5rem; // 50px 
$fs-58: 5.8rem; // 58px 
$fs-74: 7.4rem; // 74px 
$fs-90: 9rem; // 90px 


// Font weight

$fw-100: 100;
$fw-200: 200;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;


// Spacing (1rem = 10px)

$space5: .5rem; // 5px
$space10: 1rem; // 10px
$space12: 1.2rem; // 12px
$space15: 1.5rem; // 15px
$space20: 2rem; // 20px
$space25: 2.5rem; // 25px
$space30: 3rem; // 30px
$space40: 4rem; // 40px
$space50: 5rem; // 50px
$space100: 10rem; // 100px

